<div>
    <h1>Add a new strain</h1>
    <form action="/cannabis/new" method="POST">
        <label for="strain">Strain: </label>
        <input type="text" name="strain"/>
        <label for="strain">Type: </label>
        <input type="text" name="type"/>
        <input type="submit"/>
    </form>
</div>